.mdui-button {
  position: relative;
  // overflow: hidden;
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  font-size: var(--text);
  cursor: pointer;
  align-items: center;
  justify-content: center;
  user-select: none;
  letter-spacing: 0.025em;
  outline: 0;
  box-sizing: border-box;
  white-space: nowrap;
  height: var(--height);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  transition: all 0.2s linear;
  padding: var(--padding);
  gap: var(--gap);
  // margin: 4px;
  & > .ripple-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: var(--radius);
    &:hover {
      border-radius: var(--radius-pressed);
    }
  }

  &:hover {
    box-shadow: var(--shadow-hover-button);
    background-color: var(--color-on-primary);
  }

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.2s linear;
  }

  &:focus {
    outline: 3px solid var(--color-primary);
    outline-offset: 3px;
    background-color: var(--color-on-primary);
  }

  &:disabled {
    pointer-events: none;
    user-select: none;
    background-color: var(--color-disabled);
    color: var(--color-text-disabled);
    cursor: not-allowed;
  }

  &:active {
    transform: scale(0.95);
    border-radius: var(--radius-pressed);
  }

  &.selected {
    border-radius: var(--radius-pressed);
  }
}

.default {
  color: var(--color-primary);
  &:hover::before {
    background-color: var(--color-primary-container);
  }
  &.selected {
    background-color: var(--color-primary);
    color: var(--color-on-primary);
  }
}

.filled {
  background-color: var(--color-primary);
  color: var(--color-on-primary);
  &:hover {
    background-color: var(--color-primary);
    color: var(--color-on-primary);
  }
  &:focus {
    background-color: var(--color-primary);
  }
  &.unselected {
    background-color: var(--color-surface-container);
    color: var(--color-on-surface-variant);
  }
  &:selected {
    background-color: var(--color-primary);
    color: var(--color-on-primary);
  }
}

.tonal {
  background-color: var(--color-secondary-container);
  color: var(--color-on-secondary-container);
  &.selected {
    background-color: var(--color-secondary);
    color: var(--color-on-secondary);
  }
}
.outline {
  color: var(--color-on-surface-variant);
  outline: 1px solid var(--color-outline-variant);
  &.selected {
    background-color: var(--color-inverse-surface);
    color: var(--color-inverse-on-surface);
  }
}
.text {
  color: var(--color-primary);
  box-shadow: none;
  &:hover {
    box-shadow: none;
  }
  &:focus {
    outline: 0;
  }
}
.inverse-radius {
  border-radius: var(--rounded) !important;
}
.ripple-active-default {
  background-color: rgba(255, 255, 255, 0.6);
}
.ripple-active {
  background-color: var(--color-primary);
  opacity: 0.1;
}
