@use "../../styles/variables" as *;
@use "../../styles/color" as *;

$size-xs: var(--size-button-xs);
$size-sm: var(--size-button-sm);
$size-md: var(--size-button-md);
$size-lg: var(--size-button-lg);
$size-xl: var(--size-button-xl);
$p-xs: var(--padding-button-xs);
$p-sm: var(--padding-button-sm);
$p-md: var(--padding-button-md);
$p-lg: var(--padding-button-lg);
$p-xl: var(--padding-button-xl);
$gap-xs: var(--gap-button-xs);
$gap-sm: var(--gap-button-sm);
$gap-md: var(--gap-button-md);
$gap-lg: var(--gap-button-lg);
$gap-xl: var(--gap-button-xl);

$sizes: (
  "xs": (
    "size": $size-xs,
    "p": $p-xs,
    "gap": $gap-xs,
  ),
  "sm": (
    "size": $size-sm,
    "p": $p-sm,
    "gap": $gap-sm,
  ),
  "md": (
    "size": $size-md,
    "gap": $gap-md,
    "p": $p-md,
  ),
  "lg": (
    "gap": $gap-lg,
    "size": $size-lg,
    "p": $p-lg,
  ),
  "xl": (
    "size": $size-xl,
    "p": $p-xl,
    "gap": $gap-xl,
  ),
);

.mdui-button {
  background-color: transparent;
  position: relative;
  // overflow: hidden;
  border: none;
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  font-size: var(--text);
  cursor: pointer;
  align-items: center;
  justify-content: center;
  user-select: none;
  letter-spacing: 0.025em;
  outline: 0;
  box-sizing: border-box;
  white-space: nowrap;
  width: fit-content;
  box-shadow: var(--shadow);
  transition: all 0.2s linear;
  gap: var(--gap);

  @each $size, $value in $sizes {
    &.#{$size} {
      border-radius: calc(map-get($value, "size") / 2);
      height: map-get($value, "size");
      padding: 0 map-get($value, "p");
      overflow: hidden;
      gap: map-get($value, "gap");
    }
  }
}
