.mdui-segemented-buttons {
  display: flex;
  flex-direction: row;
  gap: 0;
  width: fit-content;

  & > *:not(:last-child) {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }
  & > *:not(:first-child) {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    margin-left: 1px;
  }
}
