$radius: (
  xs: 4px,
  sm: 4px,
  md: 4px,
  lg: 8px,
  xl: 12px,
);

.mdui-split-button {
  display: flex;
  flex-direction: row;
  gap: 2px;
  width: fit-content;

  @each $size, $value in $radius {
    &.#{$size} {
      --radius: #{$value};
    }
  }

  & > button:first-child {
    border-top-right-radius: var(--radius) !important;
    border-bottom-right-radius: var(--radius) !important;
  }
  & > button:not(.is-active):last-child {
    border-top-left-radius: var(--radius) !important;
    border-bottom-left-radius: var(--radius) !important;
  }

  & > button.is-active > span {
    transform: rotate(180deg);
    transition: transform 0.2s ease-in-out;
  }
}
