@use "../../../styles/color" as *;
@use "../../../styles/easing" as *;

.mdui-date-picker {
  padding: 20px 16px;
  background-color: $color-surface-container-high;
  user-select: none;

  & > .mdui-date-picker__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
    & > .mdui-date-picker__month {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    & > .mdui-date-picker__year {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }

  & > .mdui-date-picker__content {
    position: relative;
    overflow: hidden;
    & > .mdui-date-picker__content-table {
      width: 100%;

      border-collapse: separate;
      border-spacing: 0 16px;
      thead {
        color: $color-on-surface;
      }
      // thead::after {
      //   content: "";
      //   display: table-row;
      //   height: 16px;
      // }
      tr {
        width: 100%;
      }
      tbody {
        margin-top: 16px;
      }
      td {
        .day {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          &.in-range {
            background-color: $color-secondary-container;
          }
          & > button.outlined {
            outline-color: $color-primary;
          }
          &.not-current-month {
            & > button:not(.filled) {
              color: $color-on-surface-variant;
            }
          }
        }
      }
    }
    & > .mdui-date-picker__content-month {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: transform $easing-expressive-default-effects;
      transform: translateY(-100%);
      z-index: 10;
      background-color: $color-surface-container-high;

      &.active {
        transform: translateY(0);
      }
    }
  }

  & > .mdui-date-picker__footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-top: 8px;
  }
}
