.mdui-chip {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 8px;
  border: 1px solid var(--color-outline);
  width: fit-content;
  border-radius: 8px;
  color: var(--color-on-surface);
  background-color: transparent;
  // background-color: var(--color-surface-container-low);
  height: 32px;
  align-items: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 200ms linear;
  transition-delay: 200ms;

  &.elevated {
    outline: 0;
    border: 0;
  }

  &:hover:not(:has(.mdui-chip-end-icon:hover)) {
    // background-color: var(--color-surface-container-highest);
  }

  &:focus-visible {
    outline: 3px solid var(--color-outline);
    outline-offset: 3px;
  }

  &:has(.mdui-chip-icon) {
    padding-left: 8px;
  }
  &:has(.mdui-chip-end-icon) {
    padding-right: 8px;
  }

  & > .mdui-chip-icon,
  & > .mdui-chip-end-icon {
    color: var(--color-primary);
    padding: 0 8px;
    width: 0;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    padding: 4px;

    &:has(*) {
      width: 22px;
    }
  }

  &.input {
    color: var(--color-on-surface-variant);
    padding: 0 8px 0 12px;
    &:has(.mdui-chip-icon) {
      padding-left: 4px;
    }

    & > .mdui-chip-icon {
      color: var(--color-on-surface-variant);
    }
    & > .mdui-chip-end-icon {
      color: var(--color-on-surface-variant);
    }
  }

  &.filter {
    background-color: transparent;
    &.checked {
      background-color: var(--color-surface-container-low);
      color: var(--color-on-surface-variant);
      outline: none;
      border: none;
    }
    &:has(.mdui-chip-icon) {
      padding-right: 8px !important;
    }
    &:has(.mdui-chip-end-icon) {
      padding-left: 8px;
    }
  }
}
