@import "./styles/utils.scss";
@import "./styles/easing-function.scss";
:root {
  --radius-radius: 1.5rem;
  --radius-square: 0.75rem;
  --color-primary: rgb(107, 84, 168);
  --color-on-primary: #faf9fb;
  --color-secondary: #5d5d72;
  --color-on-secondary: #ffffff;
  --color-secondary-container: #e2e0f9;
  --color-on-secondary-container: #444559;
  --color-surface: #fef7ff;
  --color-on-surface: #1d1b20;
  --color-surface-variant: #e7e0ec;
  --color-surface-container-low: #f8f2fa;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-high: #ece6ee;
  --color-surface-container-highest: #e6e0e9;
  --color-on-surface-variant: #49454e;
  --color-surface-container: #f2ecf4;
  --color-outline: #7a757f;
  --color-outline-variant: #cac4cf;
  --color-inverse-surface: #322f35;
  --color-inverse-on-surface: #f5eff7;
  --color-inverse-primary: #d0bcfe;
  --color-shadow: #000000;
  --color-error: #ba1a1a;
  --color-on-error: #ffffff;
  --color-error-container: #ffdad6;
  --color-on-error-container: #7d2b25;
  --size-xl: 136px;
  --size-lg: 96px;
  --size-md: 56px;
  --size-sm: 40px;
  --size-xs: 32px;
  --size-slider-xs: 16px;
  --size-slider-sm: 24px;
  --size-slider-md: 40px;
  --size-slider-lg: 56px;
  --size-slider-xl: 96px;
  --text-sm: 14px;
  --text-md: 16px;
  --text-lg: 24px;
  --text-xl: 32px;
  --padding-sm: 12px;
  --padding-xs: 16px;
  --padding-md: 24px;
  --padding-lg: 48px;
  --padding-xl: 64px;
  --gap-sm: 4px;
  --gap-xs: 8px;
  --gap-md: 8px;
  --gap-lg: 12px;
  --gap-xl: 60px;
  --radius-sm: 20px;
  --radius-xs: 16px;
  --radius-md: 28px;
  --radius-lg: 48px;
  --radius-xl: 68px;
  --radius-square-sm: 12px;
  --radius-square-xs: 16px;
  --radius-square-md: 16px;
  --radius-square-lg: 24px;
  --radius-square-xl: 32px;
  --radius-pressed-sm: 8px;
  --radius-pressed-xs: 8px;
  --radius-pressed-md: 12px;
  --radius-pressed-lg: 16px;
  --radius-pressed-xl: 28px;
  --radius-connected-xs: 4px;
  --radius-connected-sm: 8px;
  --radius-connected-md: 8px;
  --radius-connected-lg: 16px;
  --radius-connected-xl: 20px;
  --color-disabled: #d3d3d3;
  --color-text-disabled: #928e94;
  --shadow-default: 0px 2px 0px 1px rgba(0, 0, 0, 0.1);
  --shadow-hover: 0px 2px 0px 2px rgba(0, 0, 0, 0.1);
  --shadow-opacity-1: 0.05;
  --shadow-opacity-2: 0.08;
  --shadow-opacity-3: 0.11;
  --shadow-opacity-4: 0.12;
  --shadow-opacity-6: 0.14;
  --shadow-opacity-8: 0.16;
  --shadow-opacity-12: 0.2;
  --shadow-opacity-16: 0.24;
  --shadow-opacity-24: 0.3;
}

.dark:root {
  --color-on-primary: #d0bcff;
  --color-surface-container: #1d1b20;
}
body {
  font-weight: 500;
}

.elevated,
.mdui-shadow {
  background-color: var(--color-surface-container-low);
  box-shadow:
    0 1px 2px rgba(0, 0, 0, var(--shadow-opacity-1)),
    0 2px 4px rgba(0, 0, 0, var(--shadow-opacity-2));
  &:hover {
    box-shadow:
      0 1px 3px rgba(0, 0, 0, var(--shadow-opacity-4)),
      0 2px 6px rgba(0, 0, 0, var(--shadow-opacity-8));
  }
  &:active {
    box-shadow:
      0 1px 4px rgba(0, 0, 0, var(--shadow-opacity-6)),
      0 2px 8px rgba(0, 0, 0, var(--shadow-opacity-12));
  }
}
