@import "./styles/utils.scss";

:root {
  --radius-radius: 1.5rem;
  --radius-square: 0.75rem;
  --color-primary: rgb(107, 84, 168);
  --color-on-primary: #faf9fb;
  --color-primary-container: #c8b3fd;
  --color-on-primary-container: #4e3b7b;
  --color-secondary: #5d5d72;
  --color-on-secondary: #ffffff;
  --color-secondary-container: #e2e0f9;
  --color-on-secondary-container: #444559;
  --color-surface: #fef7ff;
  --color-on-surface: #1d1b20;
  --color-surface-variant: #e7e0ec;
  --color-surface-container-low: #f8f2fa;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-high: #ece6ee;
  --color-surface-container-highest: #e6e0e9;
  --color-on-surface-variant: #49454e;
  --color-surface-container: #f2ecf4;
  --color-outline: #cec8d3;
  --color-outline-variant: #cac4cf;
  --color-inverse-surface: #322f35;
  --color-inverse-on-surface: #f5eff7;
  --color-inverse-primary: #d0bcfe;
  --color-shadow: #000000;
  --color-error: #ba1a1a;
  --color-on-error: #ffffff;
  --color-error-container: #ffdad6;
  --color-on-error-container: #7d2b25;

  //  按钮的配置
  --size-button-xs: 32px;
  --size-button-sm: 40px;
  --size-button-md: 56px;
  --size-button-mdp: 80px;
  --size-button-lg: 96px;
  --size-button-xl: 136px;
  --padding-button-xs: 12px;
  --padding-button-sm: 16px;
  --padding-button-md: 24px;
  --padding-button-lg: 48px;
  --padding-button-xl: 64px;
  --gap-button-xs: 4px;
  --gap-button-sm: 8px;
  --gap-button-md: 8px;
  --gap-button-lg: 12px;
  --gap-button-xl: 16px;

  --radius-square-xs: 12px;
  --radius-square-sm: 12px;
  --radius-square-md: 16px;
  --radius-square-lg: 28px;
  --radius-square-xl: 28px;

  --radius-pressed-xs: 8px;
  --radius-pressed-sm: 8px;
  --radius-pressed-md: 12px;
  --radius-pressed-lg: 16px;
  --radius-pressed-xl: 16px;

  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-md: 16px;
  --font-size-lg: 20px;
  --font-size-xl: 32px;

  //  往下的可能废弃

  --size-xl: 136px;
  --size-lg: 96px;
  --size-md: 56px;
  --size-sm: 40px;
  --size-xs: 32px;
  --size-slider-xs: 16px;
  --size-slider-sm: 24px;
  --size-slider-md: 40px;
  --size-slider-lg: 56px;
  --size-slider-xl: 96px;
  --text-sm: 14px;
  --text-md: 16px;
  --text-lg: 24px;
  --text-xl: 32px;
  --padding-sm: 12px;
  --padding-xs: 16px;
  --padding-md: 24px;
  --padding-lg: 48px;
  --padding-xl: 64px;
  --gap-sm: 4px;
  --gap-xs: 8px;
  --gap-md: 8px;
  --gap-lg: 12px;
  --gap-xl: 60px;
  --radius-none: 0px;
  --color-disabled: #d3d3d3;
  --color-text-disabled: #928e94;
  --shadow-default: 0px 2px 0px 1px rgba(0, 0, 0, 0.1);
  --shadow-hover: 0px 2px 0px 2px rgba(0, 0, 0, 0.1);
  --shadow-opacity-1: 0.05;
  --shadow-opacity-2: 0.08;
  --shadow-opacity-3: 0.11;
  --shadow-opacity-4: 0.12;
  --shadow-opacity-6: 0.14;
  --shadow-opacity-8: 0.16;
  --shadow-opacity-12: 0.2;
  --shadow-opacity-16: 0.24;
  --shadow-opacity-24: 0.3;

  --easing-expressive-fast-spatial: cubic-bezier(0.42, 1.67, 0.21, 0.9) 350ms;
  --easing-expressive-default-spatial: cubic-bezier(0.38, 1.21, 0.22, 1) 500ms;
  --easing-expressive-slow-spatial: cubic-bezier(0.39, 1.29, 0.35, 0.98) 650ms;
  --easing-expressive-fast-effects: cubic-bezier(0.31, 0.94, 0.34, 1) 150ms;
  --easing-expressive-default-effects: cubic-bezier(0.34, 0.8, 0.34, 1) 200ms;
  --easing-expressive-slow-effects: cubic-bezier(0.34, 0.88, 0.34, 1) 300ms;
  // Standard Easing
  --easing-standard-fast-spatial: cubic-bezier(0.27, 1.06, 0.18, 1) 350ms;
  --easing-standard-default-spatial: cubic-bezier(0.27, 1.06, 0.18, 1) 500ms;
  --easing-standard-slow-spatial: cubic-bezier(0.27, 1.06, 0.18, 1) 750ms;
  --easing-standard-fast-effects: cubic-bezier(0.31, 0.94, 0.34, 1) 150ms;
  --easing-standard-default-effects: cubic-bezier(0.34, 0.8, 0.34, 1) 200ms;
  --easing-standard-slow-effects: cubic-bezier(0.34, 0.88, 0.34, 1) 300ms;
}

.dark:root {
  --color-on-primary: #d0bcff;
  --color-surface-container: #1d1b20;
}
body {
  font-weight: 500;
}

.elevated,
.mdui-shadow {
  background-color: var(--color-surface-container-low);
  box-shadow:
    0 1px 2px rgba(0, 0, 0, var(--shadow-opacity-1)),
    0 2px 4px rgba(0, 0, 0, var(--shadow-opacity-2));
  &:hover {
    box-shadow:
      0 1px 3px rgba(0, 0, 0, var(--shadow-opacity-1)),
      0 2px 6px rgba(0, 0, 0, var(--shadow-opacity-2));
  }
  &:active {
    box-shadow:
      0 1px 4px rgba(0, 0, 0, var(--shadow-opacity-1)),
      0 2px 8px rgba(0, 0, 0, var(--shadow-opacity-2));
  }
}
.elevated {
  outline: 0;
  border: 0;
}
