@import "tailwindcss";
@source "components/";

@theme {
  --font-sans: "Roboto", sans-serif;
  --font-mono: "Outfit", monospace;
  --text-sm: var(--text-sm);
  --text-md: var(--text-md);
  --text-lg: var(--text-lg);
  --text-xl: var(--text-xl);
  --padding-xs: var(--padding-xs);
  --padding-sm: var(--padding-sm);
  --padding-md: var(--padding-md);
  --padding-lg: var(--padding-lg);
  --padding-xl: var(--padding-xl);
  --gap-xs: var(--gap-xs);
  --gap-sm: var(--gap-sm);
  --gap-md: var(--gap-md);
  --gap-lg: var(--gap-lg);
  --gap-xl: var(--gap-xl);
  --radius-sm: var(--radius-sm);
  --radius-xs: var(--radius-xs);
  --radius-md: var(--radius-md);
  --radius-lg: var(--radius-lg);
  --radius-xl: var(--radius-xl);
  --radius-square-sm: var(--radius-square-sm);
  --radius-square-xs: var(--radius-square-xs);
  --radius-square-md: var(--radius-square-md);
  --radius-square-lg: var(--radius-square-lg);
  --radius-square-xl: var(--radius-square-xl);
  --radius-pressed-sm: var(--radius-pressed-sm);
  --radius-pressed-xs: var(--radius-pressed-xs);
  --radius-pressed-md: var(--radius-pressed-md);
  --radius-pressed-lg: var(--radius-pressed-lg);
  --radius-pressed-xl: var(--radius-pressed-xl);
  --height-sm: var(--size-sm);
  --height-xs: var(--size-xs);
  --height-md: var(--size-md);
  --height-lg: var(--size-lg);
  --height-xl: var(--size-xl);
  --color-disabled: var(--color-disabled);
  --color-text-disabled: var(--color-text-disabled);
}

:root {
  --radius-radius: 1.5rem;
  --radius-square: 0.75rem;
  --primary: rgb(107, 84, 168);
  --secondary-color: #0056b3;
  --size-xl: 136px;
  --size-lg: 96px;
  --size-md: 56px;
  --size-sm: 40px;
  --size-xs: 32px;
  --text-sm: 14px;
  --text-md: 16px;
  --text-lg: 24px;
  --text-xl: 32px;
  --padding-sm: 12px;
  --padding-xs: 16px;
  --padding-md: 24px;
  --padding-lg: 48px;
  --padding-xl: 64px;
  --gap-sm: 4px;
  --gap-xs: 8px;
  --gap-md: 8px;
  --gap-lg: 12px;
  --gap-xl: 60px;
  --radius-sm: 20px;
  --radius-xs: 16px;
  --radius-md: 28px;
  --radius-lg: 48px;
  --radius-xl: 68px;
  --radius-square-sm: 12px;
  --radius-square-xs: 16px;
  --radius-square-md: 16px;
  --radius-square-lg: 24px;
  --radius-square-xl: 32px;
  --radius-pressed-sm: 8px;
  --radius-pressed-xs: 8px;
  --radius-pressed-md: 12px;
  --radius-pressed-lg: 16px;
  --radius-pressed-xl: 16px;
  --color-disabled: #d3d3d3;
  --color-text-disabled: #928e94;
}
