:root {
  --radius-radius: 1.5rem;
  --radius-square: 0.75rem;
  --color-primary: rgb(107, 84, 168);
  --color-on-primary: #faf9fb;
  --color-secondary: #5d5d72;
  --color-on-secondary: #ffffff;
  --color-secondary-container: #e2e0f9;
  --color-on-secondary-container: #444559;
  --color-surface: #fef7ff;
  --color-on-surface: #1d1b20;
  --color-surface-variant: #e7e0ec;
  --color-surface-container-low: #f8f2fa;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-high: #ece6ee;
  --color-surface-container-highest: #e6e0e9;
  --color-on-surface-variant: #49454e;
  --color-surface-container: #f7f2fa;
  --color-outline-variant: #cac4cf;
  --color-inverse-surface: #322f35;
  --color-inverse-on-surface: #f5eff7;
  --color-inverse-primary: #d0bcfe;
  --color-shadow: #000000;
  --size-xl: 136px;
  --size-lg: 96px;
  --size-md: 56px;
  --size-sm: 40px;
  --size-xs: 32px;
  --text-sm: 14px;
  --text-md: 16px;
  --text-lg: 24px;
  --text-xl: 32px;
  --padding-sm: 12px;
  --padding-xs: 16px;
  --padding-md: 24px;
  --padding-lg: 48px;
  --padding-xl: 64px;
  --gap-sm: 4px;
  --gap-xs: 8px;
  --gap-md: 8px;
  --gap-lg: 12px;
  --gap-xl: 60px;
  --radius-sm: 20px;
  --radius-xs: 16px;
  --radius-md: 28px;
  --radius-lg: 48px;
  --radius-xl: 68px;
  --radius-square-sm: 12px;
  --radius-square-xs: 16px;
  --radius-square-md: 16px;
  --radius-square-lg: 24px;
  --radius-square-xl: 32px;
  --radius-pressed-sm: 8px;
  --radius-pressed-xs: 8px;
  --radius-pressed-md: 12px;
  --radius-pressed-lg: 16px;
  --radius-pressed-xl: 16px;
  --radius-connected-xs:4px;
  --radius-connected-sm:8px;
  --radius-connected-md:8px;
  --radius-connected-lg:16px;
  --radius-connected-xl:20px;
  --color-disabled: #d3d3d3;
  --color-text-disabled: #928e94;
  --shadow-default: 0px 2px 0px 1px rgba(0, 0, 0, 0.1);
  --shadow-hover: 0px 2px 0px 2px rgba(0, 0, 0, 0.1);
}

.dark:root {
  --color-on-primary: #d0bcff;
  --color-surface-container: #1d1b20;
}
body {
  font-weight: 500;
}
