@use "../../styles/color" as *;
@use "../../styles/radius" as *;
@use "../../styles/size" as *;
@use "../../styles/easing" as *;

.mdui-badge {
  position: relative;
  width: fit-content;
  user-select: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
  transition: all $easing-expressive-default-effects;

  & > .mdui-badge__count {
    position: absolute;
    top: 0;
    right: 0;
    height: 16px;
    max-width: 34px;
    border-radius: 6px;
    padding: 4px;
    background-color: $color-error;
    display: flex;
    align-items: center;
    justify-content: center;

    &.small {
      width: 6px;
      height: 6px;
      border-radius: 3px;
      padding: 0;
      top: 0;
      right: 0;
      padding: 3px;
    }
    &.large {
      height: 16px;
      min-width: 16px;
      width: fit-content;
      border-radius: 8px;
      padding: 0 4px;
      transform: translateX(calc(100% - 14px)) translateY(calc(-100% + 14px));
      font-size: 10px;
      line-height: 16px;
      color: $color-on-error;
      & > .number {
        text-align: center;
      }
    }
  }
}
