@use "../../styles/color" as *;
@use "../../styles/radius" as *;
@use "../../styles/size" as *;

.mdui-badge {
  position: relative;
  width: fit-content;
  user-select: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 4px;

  .mdui-badge__content {
    position: relative;
    width: fit-content;
    padding: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    overflow: hidden;
    cursor: pointer;
    border-radius: calc($size-sm / 2);
    // height: $size-sm;
    padding: 8px calc($size-sm / 2);
    color: $color-secondary;

    &.active {
      color: $color-primary;
      background-color: $color-surface-container-low;
    }
  }

  & > .mdui-badge__label {
    font-size: 15px;
    letter-spacing: 0.5px;
    color: $color-secondary;
    font-weight: 500;
    &.active {
      color: $color-primary;
    }
  }

  & > .mdui-badge__count {
    position: absolute;
    top: 0;
    right: 0;
    height: 16px;
    max-width: 34px;
    border-radius: 6px;
    padding: 4px;
    background-color: $color-error;

    &.small {
      width: 6px;
      height: 6px;
      border-radius: 3px;
      padding: 0;
      top: 4px;
      right: calc($size-sm / 2 - 3px);
      padding: 3px;
    }
    &.large {
      height: 16px;
      min-width: 16px;
      width: fit-content;
      border-radius: 8px;
      padding: 0 4px;
      font-size: 10px;
      line-height: 16px;
      color: $color-on-error;
      & > .number {
        width: fit-content;
      }
    }
  }
}
