.mdui-badge {
  position: relative;
  width: fit-content;
  padding: 2px;

  & > .badge {
    position: absolute;
    top: 0;
    right: 0;
    height: 16px;
    max-width: 34px;
    border-radius: 6px;
    padding: 4px;
    background-color: var(--color-error);

    &.small {
      width: 6px;
      height: 6px;
      border-radius: 3px;
      padding: 0;
      right: 0;
      top: 0;
    }
    &.large {
      height: 16px;
      min-width: 16px;
      width: fit-content;
      left: calc(100% - 8px);
      top: -8px;
      border-radius: 8px;
      padding: 0 4px;
      font-size: 10px;
      line-height: 16px;
      color: var(--color-on-error);
      & > .number {
        width: fit-content;
      }
    }
  }
}
