.mdui-checkbox {
  margin: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  border-radius: 2px;
  background-color: var(--color-primary);
  & > .icon {
    height: 18px;
    width: 18px;
    color: var(--color-on-primary);
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
