.mdui-button-group {
  position: relative;
  display: flex;
  gap: var(--gap);
  &.horizontal {
    flex-direction: row;
    align-items: center;
    &.default {
      gap: 0;
      & > *:not(:first-child) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
      & > *:not(:last-child) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
    &.connected {
      gap: 2px;
      & > *:not(:first-child) {
        border-top-left-radius: var(--button-group-radius);
        border-bottom-left-radius: var(--button-group-radius);
      }
      & > *:not(:last-child) {
        border-bottom-right-radius: var(--button-group-radius);
        border-top-right-radius: var(--button-group-radius);
      }
    }
  }
  &.vertical {
    flex-direction: column;
    &.default {
      gap: 0;
      & > *:not(:first-child) {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
      & > *:not(:last-child) {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
    &.connected {
      gap: 2px;
      & > *:not(:first-child) {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
      & > *:not(:last-child) {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }

  &.standard {
  }
}
