.mdui-carousel {
  width: 100%;
  user-select: none;
  overflow: hidden;
  height: 100%;
  & > .mdui-carousel-content {
    transition: transform var(--easing-standard-slow-effects);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    gap: 8px;
    padding: 8px 16px;
    &.multi-browse {
      // padding: 8px 16px;
      // &::-webkit-scrollbar {
      //   display: none;
      // }
    }
    &.uncontained {
      height: 100%;
      & > .mdui-carousel-item {
        height: 100%;
        width: auto;
        flex-shrink: 0;
      }
    }
    & > .mdui-carousel-item {
      position: relative;
      border-radius: 28px;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 40px;
      transition:
        min-width var(--easing-standard-slow-effects),
        box-shadow var(--easing-standard-slow-effects);
      cursor: pointer;
      box-shadow:
        0 1px 2px rgba(0, 0, 0, var(--shadow-opacity-1)),
        0 2px 4px rgba(0, 0, 0, var(--shadow-opacity-2));
      & > .container {
        display: flex;
        flex-shrink: 0;
        transition: transform var(--easing-standard-slow-effects);
      }
      &:hover {
        box-shadow:
          0 1px 4px rgba(0, 0, 0, var(--shadow-opacity-4)),
          0 2px 8px rgba(0, 0, 0, var(--shadow-opacity-8));
      }
      &:focus-visible {
        outline: 3px solid var(--color-outline);
        outline-offset: 3px;
      }
      &.disabled {
        background-color: var(--color-disabled);
      }
    }
  }
}
