.mdui-slider {
  display: flex;

  justify-content: space-between;
  position: relative;
  align-items: center;
  .track {
    border-radius: var(--radius);
    pointer-events: none;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    color: var(--color-on-secondary-container);
    overflow: hidden;
  }
  .active {
    background-color: var(--color-primary);
  }
  .inactive {
    background-color: var(--color-on-secondary-container);
  }

  &.horizontal {
    width: 100%;
    flex-direction: row;
    & > .container {
      display: flex;
      flex-direction: row;
      align-items: center;
      &.non-width {
        min-width: 0 !important;
      }
      &:not(:first-child) > *.track {
        border-top-left-radius: var(--radius-min);
        border-bottom-left-radius: var(--radius-min);
      }
      &:not(:last-child) > *.track {
        border-top-right-radius: var(--radius-min);
        border-bottom-right-radius: var(--radius-min);
      }
      &.hidden {
        display: none;
      }
      & > .track {
        flex: 1;
        height: var(--size);
      }
      & > .thumb {
        height: calc(var(--size) + 13px);
        margin: 0 6px;
        background-color: var(--color-primary);
        width: 6px;
        border-radius: 3px;
        &.centered {
          background-color: transparent;
        }
      }
    }
  }
  &.vertical {
    flex-direction: column;
    & > .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      &.non-width {
        min-width: 0 !important;
      }
      &:not(:first-child) > *.track {
        border-top-left-radius: var(--radius-min);
        border-top-right-radius: var(--radius-min);
      }
      &:not(:last-child) > *.track {
        border-bottom-left-radius: var(--radius-min);
        border-bottom-right-radius: var(--radius-min);
      }
      &.hidden {
        display: none !important;
      }
      & > .track {
        flex: 1;
        width: var(--size);
      }
      & > .thumb {
        width: calc(var(--size) + 13px);
        margin: 6px 0;
        background-color: var(--color-primary);
        height: 6px;
        border-radius: 3px;
        &.centered {
          background-color: transparent;
        }
      }
    }
  }
}
