.mdui-slider {
  display: flex;
  width: 100%;
  justify-content: space-between;
  & > .track {
    height: var(--height);
    transition: all 200ms linear;
    border-radius: var(--radius);
  }
  & > .active {
    background-color: var(--color-primary);
  }
  & > .inactive{
    background-color: var(--color-on-secondary-container);
  }
  & > .thumb {
    height: var(--height);
    margin: 0 2px;
    background-color: var(--color-primary);
    width: 6px;
    border-radius: 3px;
  }
}
