.mdui-slider {
  display: flex;
  z-index: 1;
  width: 100%;
  position: relative;
  &.horizontal {
    flex-direction: row;
    & > .track-container {
      display: flex;
      flex-direction: row;
      &::after {
        content: "";
        width: var(--padding-end);
        height: var(--size);
        display: block;
      }
      &::before {
        content: "";
        width: var(--padding-start);
        height: var(--size);
        display: block;
      }
      & > .track {
        background-color: var(--color-active);
        height: var(--size);
        border-radius: var(--radius);
        box-sizing: border-box;
        min-width: 0;
        flex: 1;
        display: flex;
        align-items: center;
        &.inactive {
          background-color: var(--color-inactive);
        }
        & .icon {
          padding: 12px;
          color: var(--color-inactive);
        }
      }
      &.hidden {
        display: none;
      }
      &:not(:first-child) > .track {
        border-bottom-left-radius: var(--radius-min);
        border-top-left-radius: var(--radius-min);
      }
      &:not(:last-child) > .track {
        border-bottom-right-radius: var(--radius-min);
        border-top-right-radius: var(--radius-min);
      }
    }
    & > .thumb {
      background-color: var(--color-primary);
      width: 6px;
      height: calc(var(--size) + 10px);
      border-radius: 3px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%) translateX(-50%);
      &.hidden {
        opacity: 0;
      }
    }
  }
  &.vertical {
    width: fit-content;
    flex-direction: column;
    & > .track-container {
      width: var(--size);
      display: flex;
      flex-direction: column;
      overflow: hidden;
      &::after {
        content: "";
        width: var(--size);
        height: var(--padding-end);
        display: block;
      }
      &::before {
        content: "";
        width: var(--size);
        height: var(--padding-start);
        display: block;
      }

      & > .track {
        background-color: var(--color-active);
        width: var(--size);
        border-radius: var(--radius);
        min-height: 0;
        box-sizing: border-box;
        position: relative;
        flex: 1;
        display: flex;
        align-items: flex-end;
        overflow: hidden;
        justify-content: center;
        &.inactive {
          background-color: var(--color-inactive);
        }
      }
      &.hidden {
        display: none;
      }
      &:not(:first-child) > .track {
        border-top-left-radius: var(--radius-min);
        border-top-right-radius: var(--radius-min);
      }
      &:not(:last-child) > .track {
        border-bottom-right-radius: var(--radius-min);
        border-bottom-left-radius: var(--radius-min);
      }
    }
    & > .thumb {
      background-color: var(--color-primary);
      width: calc(var(--size) + 10px);
      height: 6px;
      border-radius: 3px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);

      &.hidden {
        opacity: 0;
      }
    }
  }
  .dot {
    width: var(--dot-size);
    height: var(--dot-size);
    border-radius: 50%;
    background-color: var(--color-primary);
    &.right {
      margin-left: auto;
      margin-right: 12px;
    }
    &.top {
      margin-bottom: auto;
      margin-top: 12px;
    }
    &.bottom {
      /* margin-top: auto;
      margin-bottom: 12px; */
      flex-direction: column;
      justify-content: flex-end;
      margin-top: 12px;
    }
    &.left {
      justify-content: flex-start;
      margin-left: 12px;
    }
  }
  .icon {
    padding: 12px;
    color: var(--color-inactive);
    z-index: 0;
    margin-right: auto;
  }
}
