.mdui-tabs {
  overflow: auto;
  position: relative;
  background-color: var(--color-surface);
  overflow-x: scroll;
  overscroll-behavior-x: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  & > .container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    &.is-scrolling > * {
      pointer-events: none !important;
    }
  }
  &.primary {
    height: 64px;
  }
  &.secondary {
    height: 48px;
  }
  & > * {
    flex: 1;
  }
}
.mdui-tabs-indicator {
  z-index: 1;
  position: absolute;
  bottom: 0;
  height: 2px;
  border-radius: 3px 3px 0 0;
  min-width: 24px;
  left: 0;
  background-color: var(--color-outline-variant);
  &.active {
    height: 3px;
    background-color: var(--color-primary);
  }
  &.bg {
    width: 100%;
  }
}
