.mdui-card {
  border-radius: 12px;
  padding: 12px;
  position: relative;
  transition: all var(--easing);
  overflow: hidden;
  box-sizing: border-box;
  color: var(--color-on-surface-container);
  &.elevated {
    background-color: var(--color-surface-container-low);
  }
  &.filled {
    background-color: var(--color-surface-container-highest);
    box-shadow:
      0 1px 2px rgba(0, 0, 0, var(--shadow-opacity-1)),
      0 2px 4px rgba(0, 0, 0, var(--shadow-opacity-2));
  }
  &.outlined {
    background-color: var(--color-surface);
    outline: 2px solid var(--color-outline-variant);
    box-shadow:
      0 1px 2px rgba(0, 0, 0, var(--shadow-opacity-1)),
      0 2px 4px rgba(0, 0, 0, var(--shadow-opacity-2));
  }
  &:hover,
  &:active {
    background-color: var(--color-surface-container);
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    transition: all var(--easing);
  }
  &:focus-visible::before {
    outline: 2px solid var(--color-outline);
    outline-offset: 2px;
  }
  &.disabled {
    background-color: var(--color-surface);
    pointer-events: none;
  }
}
