.mdui-app-bar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: fit-content;

  &.horizontal {
    flex-direction: row;
    background-color: var(--color-surface);
    padding: 6px 0;
    justify-content: space-around;
    width: 100%;
  }

  &.vertical {
    flex-direction: column;
  }

  .mdui-app-bar-app-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    width: fit-content;
    font-size: 14px;
    &.active {
      color: var(--color-primary);
    }
  }
}
