$color-names:
  "primary", "on-primary", "secondary", "on-secondary", "secondary-container",
  "on-secondary-container", "surface", "on-surface", "surface-variant",
  "surface-container-low", "surface-container-high", "surface-container-lowest",
  "surface-container-highest", "on-surface-variant", "surface-container",
  "outline", "inverse-surface", "inverse-on-surface", "inverse-primary","shadow","error","error-container","on-error","on-error-container";
$color-vars: ();

@each $name in $color-names {
  $color-vars: map-merge($color-vars, (#{$name}: var(--color-#{$name})));
}
