
// _easing-function.scss
$easing-expressive-fast-spatial: var(--easing-expressive-fast-spatial);
$easing-expressive-default-spatial: var(--easing-expressive-default-spatial);
$easing-expressive-slow-spatial: var(--easing-expressive-slow-spatial);
$easing-expressive-fast-effects: var(--easing-expressive-fast-effects);
$easing-expressive-default-effects: var(--easing-expressive-default-effects);
$easing-expressive-slow-effects: var(--easing-expressive-slow-effects);

// Standard Easing
$easing-standard-fast-spatial: var(--easing-standard-fast-spatial);
$easing-standard-default-spatial: var(--easing-standard-default-spatial);
$easing-standard-slow-spatial: var(--easing-standard-slow-spatial);
$easing-standard-fast-effects: var(--easing-standard-fast-effects);
$easing-standard-default-effects: var(--easing-standard-default-effects);
$easing-standard-slow-effects: var(--easing-standard-slow-effects);