:root {
  --easing-expressive-fast-spatial: cubic-bezier(0.42, 1.67, 0.21, 0.9) 350ms;
  --easing-expressive-default-spatial: cubic-bezier(0.38, 1.21, 0.22, 1) 500ms;
  --easing-expressive-slow-spatial: cubic-bezier(0.39, 1.29, 0.35, 0.98) 650ms;
  --easing-expressive-fast-effects: cubic-bezier(0.31, 0.94, 0.34, 1) 150ms;
  --easing-expressive-default-spatial: cubic-bezier(0.34, 0.8, 0.34, 1) 200ms;
  --easing-expressive-slow-spatial: cubic-bezier(0.34, 0.88, 0.34, 1) 300ms;
  // Standard Easing
  --easing-standard-fast-spatial: cubic-bezier(0.27, 1.06, 0.18, 1) 350ms;
  --easing-standard-default-spatial: cubic-bezier(0.27, 1.06, 0.18, 1) 500ms;
  --easing-standard-slow-spatial: cubic-bezier(0.27, 1.06, 0.18, 1) 750ms;
  --easing-standard-fast-effects: cubic-bezier(0.31, 0.94, 0.34, 1) 150ms;
  --easing-standard-default-spatial: cubic-bezier(0.34, 0.8, 0.34, 1) 200ms;
  --easing-standard-slow-spatial: cubic-bezier(0.34, 0.88, 0.34, 1) 300ms;
}
